.user-id {
    font-size: 15px;
}

.user-type {
    font-size: 15px;
}

.user-midle-name, .user-last-name {
    font-size: 15px;
    margin-bottom: 10px;
}

.user-name {
    font-size: 15px;
    margin-bottom: 10px;
}